@page
@model WebApp.Pages.SeeOtherPage



<div>
    You where redirected here with a 303 status code (See other).
</div>

<div class="mt-10">
    <p>
        Sometimes it makes sense to return a see other result with the current page
    </p>
    <form enctype="multipart/form-data" asp-page-handler="PageResult" method="post">
        <button class="px-2 py-1 border border-solid border-gray-500" type="submit">
            See other page/view result
        </button>
    </form>
</div>
