@page
@model WebApp.Pages.TurboFrame

@{
    Layout = null;
}

This is content surrounding the turbo-frame and may be relevant if you are visiting this page directly. But not when you are sending a request from the turbo-frame. 

<turbo-frame id="frame">
    <div class="py-10 text-green-900">
        This content is lazy loaded
    </div>
</turbo-frame>


